.profile{
    display: flex;
}

.profileRight{
    flex: 9;
    /* //// فاصله ساید بار و رایت بار */
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* تصویر نسبت ابعاد خود را حفظ می کند و بعد داده شده را پر می کند. تصویر به تناسب بریده خواهد شد */
    /* تصویر نسبت ابعاد خود را حفظ می کند و بعد داده شده را پر می کند. تصویر به تناسب بریده می شود: */

}




.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* عکس حالت دایره میگیرد */
    /* object-fit: cover; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
    /* /// برای خط سفید دور عکس میباشد */
}


.profileUserImg2{
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    /* object-fit: cover; */
    position: absolute;
    left: 0;
    right: 0;
    margin: 100px 400px 3px;
    top: 15px;
    padding-top: 180px;
    padding-left: 0px;
    /* border: 3px solid white; */

    /* اگر حالت عنصر absolute باشد, فاصله لبه چپ, نسبت به عنصر پدری که حالت relative دارد تعیین می شود */
}











.profileInfo{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    /* ///نوشته زیر عکس مهدی فتحیان در وسط قرار میگیرد */
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    /* display: flex; */
}



/* 
.aaaa
{



} */



