.sidebar {
    flex: 3; 
    /* /// فاصله از ساید بار و رایت بار */ 
    height: calc(100vh - 50px); 
    /* ////// با تابع calc میشه توابع ریاضی استفاده کرد */
    /* overflow-y: scroll; */
    /* position: sticky; */
    /* top: 50px; */
    /* صفاتی همچون top به صفات آفست نیز معروف هستند.

برای یک تگ html که خصوصیت position آن relative باشد، صفت top تعیین کننده فاصله لبه بالایی تگ html نسبت به مکان اولیه آن می باشد.

اگر خصوصیت تگ html مورد نظر از نوع absolute باشد، فاصله لبه بالایی نسبت به تگ html پدری که حالت relative دارد تعیین می شود. */
  }
  


  /* Absolute : موقعیت ثابت به نسبت عنصر پدرش
  Fixed : موقعیت فیکس در صفحه در همه حال
  Relative : موقعیت نسبی نسبت به محل اولیه عنصر
  Sticky : موقعیت چسبیده */


  /* موقعیت Relative ( تگ پدر ) و Absolute ( تگ فرزند ) */






  /* در حقیقت توسط خصوصیت flex می توانیم آیتم های درونی عنصر کانتینر را در یک عرض و ارتفاع تعریف شده ، ستون بندی و صفحه آرایی کنیم. */




  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  
  .sidebarWrapper {
    padding: 20px;
    /* ////چهار تا مقدار میتونه بگیره */



  }
  



  .sidebarList {
    padding: 0;
    margin: 0;
    /* /////برا حاشیه است */
    list-style: none;
    /* background-color: ; */
    height: 100%;
  }
  




  .sidebarListItem {
    display: flex;

    align-items: center;
    /* نوشته های جلوی هر آیتم در وسط قرار بگیرد */


    margin-bottom: 20px;
    /* //// فاصله بین اجزای داخل لیست ساید بار است */
  }
  
  .sidebarIcon {
    margin-right: 15px;
  }
  
  .sidebarButton {
    width: 150px;
    /* border: none; */
    padding: 10px;
    /* border-radius: 5px; */
    font-weight: 500;
  }
  
  .sidebarHr {
    margin: 20px 0;
  }
  



  .sidebarFriendList {
    padding: 0;
    margin: 0;
    /* list-style: none; */
  }
  
  
  






