.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(239, 239, 58);
  margin-left: 170px;

  
}

.comments-container {
  margin-top: 40px;
  margin-left: 100px;
}

.comment-form-title {
  font-size: 22px;
  color: rgb(239, 239, 58);
  margin-left: 170px;

}

.comment-form-textarea {
  width: 80%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(154, 163, 20);
  border-radius: 5%;
  padding-left: 0px;
  margin-left: 50px;
 
}




.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: yellow;
  border-radius: 8px;
  color: rgb(23, 23, 22);
  margin-left: 200px;
  /* margin-right: 1000px; */
  /* padding-right: 40px; */

}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(229, 230, 234);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
  /* width: 20px; */
}

.comment-image-container img {
  border-radius: 50px;
  width: 40px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(235, 239, 247);
}

.comment-text {
  font-size: 18px;
  color: rgb(163, 168, 35);
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(141, 130, 130);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}



.hh
{
  margin-left: 100px;
}





