.card-container {
	position:relative;
	background-color: #211e1e;
	min-width: 350px;
	max-width: 800px;
	/* height: auto; */
	height: 600px;
	border-radius: 20px;
	width: 500px;
	/* padding-left: 20px; */
	/* box-shadow: 0px 10px 30px hsl(185, 75%, 35%); */
}


/* .ddd
{
	position: absolute;
	
} */



.header {
	/* background-image: url("../images/download.jpg"); */
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.img {
	margin: auto;
	width: 150px;
	height: 150px;
	border: solid white 4px;
	border-radius: 50%;
	margin-top: 75px;
}

.bold-text {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 10px 20px 0px 20px;
}

.normal-text {
	font-weight: normal;
	font-size: 0.95rem;
	color: hsl(20, 0%, 100%);
	text-align: center;
	padding-bottom: 20px;
	padding-top: 0px;
	margin-top: 0px;
	/* position: absolute;
	 */
}

/* SOCIAL STATS */
.smaller-text {
	font-weight: bold;
	font-size: 0.9rem;
	color: #eeba2c;
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
}

.social-container {
	display: flex;
	border-top: solid white;
	/* border-top: white; */
	text-align: center;
}

.followers {
	flex: 1;
}

.likes {
	flex: 1;
}

.photos {
	flex: 1;
}



.social
{
	border-top: solid white;
}







.abc
{
	font-weight: bold;
	font-size: 1rem;
	color: white;
	text-align:left;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
	padding-left: 20px;

}








.bold-text2 {
	font-weight: bold;
	font-size: 0.9rem;
	text-align: left;;
	padding: 10px 2px 0px 20px;
	/* padding-right: 20px; */
}




.bold-text3 {
	font-weight: bold;
	font-size: 0.9rem;
	text-align:right;
	padding: 10px 2px 0px 20px;
	/* padding-right: 20px; */
	position: absolute;
	top:480px ;
}





.smaller-text2 {
	font-weight: bold;
	font-size: 0.9rem;
	color: #eeba2c;
	text-align: right;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
	padding-right: 40px;
	padding-left: 1px;
	position: absolute;
	top: 439px;
	left: 70px;
	right: 40px;
}





.smaller-text3 {
	font-weight: bold;
	font-size: 0.9rem;
	color: #eeba2c;
	text-align: right;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
	padding-right: 0px;
	padding-top: 0px;
	margin-top: 0px;
	position: absolute;
	top: 450px;
	left: 70px;

}


.clearfix::after {
	content: '';
	clear: both;
	display: flex;
	}


.child {
	width: 0px;
	height: 0px;
	margin: 15px;
	float: left;
	padding-left: 0px;
	/* margin-left: 5px; */
}



.parent_clearfix
{
	position: absolute;
	margin-left:5px ;
	padding-left: 5px;
	padding-right: 0px;
	margin-right: 0px;
	float: left;
	left: 0;
	bottom: 20px;



}


.bold-text4
{
	font-weight: bold;
	font-size: 0.9rem;
	text-align: left;;
	/* padding: 10px 2px 0px 20px; */
	/* position:relative; */
	/* top: 30px; */
	/* bottom: 100px;
	padding-bottom: 20px; */
	/* margin-bottom: 2000px; */
	/* position: absolute;
	top:480px ; */

}


.smaller-text5
{
	font-weight: bold;
	font-size: 0.9rem;
	color: #eeba2c;
	text-align: right;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
	padding-right: 0px;
	padding-top: 0px;
	margin-top: 0px;
	position: absolute;
	top: 497px;
	left: 100px;

}







.smaller-text4
{
	font-weight: bold;
	font-size: 0.9rem;
	color: #eeba2c;
	text-align: right;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
	padding-right: 40px;
	padding-left: 1px;
	position: absolute;
	top: 488px;
	left: 20px;
	right: 30px;



}







.bold-text3
{
	font-weight: bold;
	font-size: 0.9rem;
	text-align: left;;
	padding: 10px 2px 0px 20px;
	/* padding-right: 20px; */

}




.bold-text4
{
	font-weight: bold;
	font-size: 0.9rem;
	text-align: right;;
	padding: 0px 2px 0px 20px;
	top:490px;
	position: absolute;
	left: 250px;
	top:480px ;
	/* padding-right: 20px; */

}



.login-form {
	display: flex;
	flex-direction: column;
	border-radius: 30px;
  }





  /* input:focus{
	outline: none;
	/*box-shadow: 2px 2px 2px 1px #1e2328;*/
	/* border: 1px solid #eeba2c;
	color: white;
  } */
  
  /* input:focus::placeholder{
	color: transparent;
  } */
  
  /* input::placeholder{
	font-size: 15px;
	font-family: gilroy;
	font-weight: bold;
  } */
   



/* .button
{
	border-radius: 10000px;
} */

.button {

    /* margin-right:100px; */
    text-rendering: auto;
 
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
   
    box-sizing: border-box;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
	/* position: absolute;
	top: 30px; */
	padding-top: 100px;
	padding-bottom: 0px;
	left: 200px;
}




.aaa
{
	border-radius: 15px 10px 30px 50px;;
	position: absolute;
	left: 100px;
	font-weight: bold;

} 


.acc
{
	border-radius: 10%;
	position: absolute;
	left: 100px;
	font-weight: bold;
	

}



.link-btn {
	color: #eeba2c;
	text-decoration: underline;
	cursor: pointer;
	margin-top: 00.5rem;
	text-decoration: none;
	transition-duration: 0.4s;
  
  }




  button {
	border: none;
	background-color: #eeba2c;
	/*padding: 20px;*/
	border-radius: 10px;
	cursor: pointer;
	color: #3d3f41;
	height: 40px;
	font-size: 15px;
	font-family: gilroy ;
	font-weight: bold;
	transition-duration: 0.4s;
	margin-top: 1rem;
	position: absolute;
	left: 200px;
	top: 530px;
	/* bottom: 5px; */
  }
  

  
  .button:hover{
	color: #eeba2c;
	background-color: #1e2328ce;
  }




.abcd
{
	font-size: 15px;
	position: absolute;
	right: 60px;
	top: 525px;

}



/* 
.bold-text3
{
	font-size: 30px;
} */

.abcd
{
	font-size: 15px;
	position: absolute;
	left: 285px;
	bottom: 5px;
	top:533px;
}





.bold-text5
{
	font-weight: bold;
	font-size: 0.9rem;
	text-align: right;;
	position: absolute;
	top: 490px;
	left: 280px;

}



.ddd
{
	
	top:3000px ;
	margin-top: 0px;
}



/* .abcd
{

} */


/* .ttt
{
	position: absolute;
	top: 40px;
} */





