@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* 
* {
  font-family: 'Inter' !important;
  color: #c0bfbb;
   /* background-color: #211e1e;  */
 /* }  */

.aaa
{
  /* left: 40px; */
	/* padding-left:10px;
	padding-right: 30px; */
    height: 100%;
    position: absolute;
	background-image: url("../img/food.jpg");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 2500px;
	transform: translateY(-50%);
	z-index: -1;

}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
/* 
.bg-pattern-top {
	position: absolute;
	background-image: url("./images/food.jpg");
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 1500px;
	transform: translateY(-50%);
	z-index: -1;
}
 */


/* .chakra-stack css-14jtazc
{

} */

















































.css-4xx5qr
{
	background-color:#212223 ;
} 




.chakra-stack
{
	background-color:#212223 

} 


.css-1hg6pel
{
	background-color:#212223 ;
	position:relative;

} 

.chakra-tabs 
{
	background-color:#212223 ;
	height:400px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	
	
} 


.ee
{
	background-color:#212223 


} 

.vv
{
	background-color:#212223 


} 

.css-1hg6pel
{
	background-color:#212223 

} 

.css-w22kgs
{
	background-color:#212223 
}


.chakra-button 
{
	background-color:#212223 
} 








.dd
{
	color:#f1ea23 

}



.hh
{
	color:#f1ea23 

}


.kk
{
	color:#f1ea23 

}



.tt
{
	color:#f1ea23 

}




.uu
{
	color:#f1ea23 

}



.rr
{
	color:#f1ea23

}


.vv
{
	color:#c0bfbb

}

/* 
.ii
{
	color:#f1ea23
} */



.eeee
{
	color:#c0bfbb

}

/* .css-4xx5qr
{
	color:#c0bfbb

} */

.ww
{
	color:#f1ea23


}

.chakra-form__label rr css-2gx1h6
{
	color:#f1ea23

}

.chakra-text css-1pgl7rm
{
	color:#c0bfbb

}
.css-w22kgs
{
	/* height: 150px; */
	padding-top: 0px;
	/* position:absolute; */
}



.css-1hg6pel
{
	background-color:#212223 
}

.css-118cweh
{
	background-color:#212223 ;

}
