.user-order {
    background-color: #161616;
    font-family: gilroy;
    min-height: 100vh;
    /* margin: -8px; */
    width: 100%;
    /* width: 75%; */
    /* float: right; */
    padding: 20px;
}

.order-container {
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    background-color: #262626;
    align-items: center;
    min-height: 120px;
    max-width: 1200px;
    padding: 4px;
    display:block;
    position: relative;
}

.title-orders {
    border-bottom: solid 1px #161616;
}

.title-orders-h1 {
    margin-left: 8px;
    color: #eeba2c;
}


.nothing {
    text-align: center;
    margin: 20px;
}

.label-btnnn {
    margin-right: 10px;
    color: white;
}

.btn-go-to-res-page {
    border: solid 1px #262626;
    background-color: #eeba2c;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-top: 0px;
    width: fit-content;
}

.btn-go-to-res-page:hover {
    -webkit-text-fill-color: white;
    background-color: #161616;
    border: solid 1px #ffffff;
}


/*** order card ***/
.order-card {
    border: solid 1px #161616;
    margin-top: 3px;
    margin-bottom: 3;
    color: white;
    display: flex;
    align-items: center;
    min-height: 125px;
    border-radius: 4px;
    background-color: #161616;
}

.logo-resss {
    width: 16%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.order-card-left {
    width: 42%;
}

.order-card-right {
    width: 42%;
    text-align: right;
    display: block;
    margin-right: 45px;
}

img.order-res-logo {
    border: solid 4px #eeba2c;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.order-res-info {
    display: flex;
}

.order-res-name-and-time {
    margin-left: 10px;
    padding: 4px;
}

h2.order {
    color: #eeba2c;
    margin: 0;
}

h4.order {
    margin: 0;
}

.order-time {
    margin-top: 10px;
}

.order-cost {

}

.order-factor-and-status {
    margin-top: 10px;
}

.status-button {
    border: solid 1px #161616;
    background-color: #161616;
    /*padding: 20px;*/
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    width: 30%;
    text-align: center;
    min-width: fit-content;
}

.factor-button {
    border: solid 1px #262626;
    background-color: #eeba2c;
    /*padding: 20px;*/
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
    margin-left: 10px;
    height: 50px;
    width: 30%;
    min-width: fit-content;
}

.factor-button:hover {
    -webkit-text-fill-color: white;
    background-color: #161616;
    border: solid 1px white;
}

@media screen and (max-width: 700px) {
    .order-card {
        display: block;
        margin: auto;
    }

    .order-card-left {
        margin: auto;
        margin-top: 25px;
    }

    .order-card-right {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}