.landingAll {
    background-image: url("../Images/landingFood.jpg");
    min-height: 100vh;
}

.landingNav {
    height: 70px;
    background-color: #eeba2c;
    display: flex;

}

.nameButton {
    color: #161616;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    font-size: 2rem;
    font-weight: bolder;
    background-color: #eeba2c;
    cursor: pointer;
}

.navButtons {
    color: black;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #eeba2c;
    margin-left: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.097);
    padding: 12px;
}

.navButtons:hover {
    color: #eeba2c;
    background-color: #161616;
    transition-duration: 0.4s;
}

.navLogin {
    color: black;
    border: 1px solid black ;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #eeba2c;
    margin-right: 5%;
    margin-left: auto;
    cursor: pointer;
    float: right;
    padding: 10px;
    border-radius: 8px;
}

.navLogin:hover {
    color: #eeba2c;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #161616;
    margin-right: 5%;
    margin-left: auto;
    cursor: pointer;
    float: right;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
}



.landingTitleHolder {
    margin-left: 10%;
    margin-top: 150px;
    width: 800px;
}

.landingSubTitle {
    color: white;
    margin-bottom: -30px;
    font-size: large;
}

.landingTitle {
    color: white;
    font-size: 5rem;
    font-weight: bolder;
}

.landingDetails {
    color: white;
    margin-top: -70px;
    font-size: large;
}

.landingButton {
    border: none;
    background-color: #eeba2c;
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.landingButton:hover {
    background-color: black;
    color: #eeba2c;
    transition-duration: 0.4s;
}

.landingFooter {
    display: flex;
    color: white;

    margin-left: 10%;
    margin-top: 50px;
}

.landingPhoneNumber {
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.097);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.landingPhoneNumber:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
    background-color: #161616;
}

.landingPhoneTitle{
    font-weight: bolder ;
    font-size: 1.5rem;
}

.landingAddress{
    background-color: rgba(255, 255, 255, 0.097);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    transition-duration: 0.4s;
}

.landingAddress:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
    background-color: #161616;
}