.aa
{
    
    width: 320px;
    height: 320px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
    padding: 10px 0px 0px;
     





}

.cal-md-4
{
    flex: 10;
    padding: 0px 0px opx;

}





