body {
	margin: 0;
	background-color: hsl(0, 12%, 93%);
	font-family: "Kumbh Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 18px;
	color: hsl(0, 12%, 77%);
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	box-sizing: border-box;
}
