/***    card    ***/
.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #161616;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 100%;
    transition-duration: 0.4s;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

/* .card-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
} */

.cartContainer {
  width: 99%;
  margin: 0.5%;
  color: white;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: none;
  z-index: 0;
}

.img-res {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
  
}

.card-discription {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.infinite-scroll-component {
  width: 100%;
  overflow:visible !important;
} 

.infinite-scroll-component__outerdiv {
  width: 100%;
}

/* .infinite {
  display: flex;
  width: 00px;
  flex-direction: column;
} */

.cardlogo {
  height: 60%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  align-self: center;
  margin-left: -50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restCardName {
  width: 20%;
  display: flex;
  align-items: center;
  overflow: auto;
  font-size: 25px;
  color: #eeba2c;
  text-transform: uppercase;
  align-self: center;
  margin-left: 20px;
}

.location {
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
}

.tags {
  margin-top: -5px;
  margin-left: 20px;
  font-size: large;
  font-weight: bold;
}

.simple-tag {
  background-color: #eeba2c;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px;
  color: #262626;
  font-weight: bold;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 9px;
}

/****   list cards ****/

.homePage-customer {
  background-color: #161616;
  font-family: gilroy;
  min-height: 100vh;
  /* margin: -8px; */
  width: 100%;
  /* width: 75%; */
  /* float: right; */
  
}

.container {
  padding: 30px;
  min-width: auto;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  margin-left: auto;
  margin-right: auto;
  background: #262626;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

button.simple-filter {
  margin-right: 10px;
  margin-left: 10px;
  height: 35px;
  font-size: large;
  font-family: gilroy;
  color: white;
  background-color: #161616;
  border: none;
  border-radius: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;

}

button.simple-filter:hover {
  background-color: #eeba2c;
  color: black;
  cursor: pointer;
  transition-duration: 0.4s;
}

.cards-list {
  display: flex;
  flex-flow: column;
  border-radius: 20px;
  background-color: #262626;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: visible;
  z-index: 0;
  position: relative;
}

.cards-list::after {
  content: "";
  display: table;
  clear: both;
}

.simple-card-inlist {
  width: 99%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row;
  /* background-color: inherit; */
  overflow: visible;
  z-index: 0;
  position: relative;
}

.loader {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 700px) {
  .simple-card-inlist {
    width: 100%;

  }
}
