
.HeadImage {
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
    object-position: 100% 50%;
}

.logo {
    height: 200px;
    width: 200px;
    margin-top: -75px;
    margin-left: 50px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 5px;
    border-color: #161616;
    object-fit: cover;

}

.All {
    font-family: gilroy;
    background-color:  #161616;
    min-height: 100vh;
    margin: -8px;
}   


.details {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: -4rem;
}

.info {
    color: white;
    text-align: left;
    width: 1200px;
    padding: 40px;
    background-color: #262626;
    border-radius: 20px;
}

.name { 
    font-weight: bolder;
    font-size: 2rem;

}

.Rate {
    padding-top: 100px;
}

.main{
    display: flex;
    justify-content: center;
    margin: auto;
}

.menu{
    width: 1200;
    background-color: #262626;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
}


.categories {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #161616;
    border-radius: 0.5rem;
}

.catButton{
    margin-right: 10px;
    margin-left: 10px;
    height: 35px;
    font-size: large;
    font-family: gilroy;
    color: white;
    background-color: #262626;
    border: none;
    border-radius: 0.5rem;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.catButton:hover {
    background-color: #eeba2c;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.catButton:focus {
    background-color: #eeba2c;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background-color: #262626;
}

/*
.MenuCard {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.CardDetails {
    color: white;
}

.Card {
    background-color: #161616;
}
*/

.newCard {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 350px;
    background-color: #161616;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

.imageCard {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 150px;
    object-fit: cover;
}

.cardTitle {
    color: white;
    padding-left: 10px;
}
.cardDetails{
    margin-top: -10px;
    color: white;
    padding-left: 10px;
}

.price{
    margin-top: -5px;
    color: white;
    padding-left: 10px;
}

.cardButton {
    margin: 10px;
    margin-right: 0px;
    font-size: large;
    font-family: gilroy;
    background-color:#161616;
    color: #eeba2c;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.cardButton:hover {
    background-color: #eeba2c;
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.cart {
    display: flex;
    justify-content: center;
    margin: auto;
}

.cartList {
    width: 1200px;
    background-color: #262626;
    margin-top: 40px;
    padding: 40px;
    border-radius: 20px;
}

.orderList {
    color: white;
}